@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #FAEDC6;
  display: flex;
  flex-direction: column;
  color: #876445;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Lato', 'sans-serif';
}

.movie-container {
  margin: 20px 0;
}

.movie-container select {
  background-color: #F58840;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.container {
  perspective: 1000px;
  margin-bottom: -10px;
}

.kursi {
  margin: auto;
}

.namabioskop {
  text-align: center;
  font-size: 5rem;
}

.seat {
  color: #EADEDE;
  background-color: #444451;
  text-align: center;
  height: 21px;
  width: 25px;
  margin: 7px;
  border-radius: 4px;
}

.seat.selected {
  background-color: #34BE82;
}

.seat.occupied {
  background-color: #396EB0;
}

.seat:nth-of-type(2) {
  margin-right: 18px;
}

.seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  background-color: #EADEDE;
  padding: 0px 10px;
  border-radius: 5px;
  color: #B3541E;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 10px;
}

.row {
  display: flex;
}

.screen {
  color: white;
  background-color: #fff;
  height: 70px; 
  width: 100%;
  margin: 15px 0;
  transform: rotateX(-50deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.75);
}

p.text {
  background-color: #F58840;
  padding: 7px 10px;
  border-radius: 5px;
  color: #000;
}

p.text span {
  color: #FF1700;
}